<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Proyectos</title>
        <link rel="stylesheets" href="/public/stylesheets/main.css" />
    </head>
    <body>
        <h1>Proyectos</h1>

        <a class="menu_bar" href="Home">Home Page</a>

        <div>Doblaje</div>

        <li>After: aquí acaba todo</li>
        <ol>Mark</ol>
        <!--<img src="/public/images/After-aquí-acaba-todo.png" />-->

        <li>Maravilloso desastre</li>
        <ol>Adam</ol>
       <!--<img src="/public/images/Maravilloso-desastre.png" />-->

       <li>La escuela del bien y del mal</li>
       <ol>Eric</ol>

       <li>Por mandato del cielo</li>
       <ol>Samuel</ol>

       <li>Curon</li>

       <li>Papergirls</li>
       <li>Daybreak</li>
       <li>Full circle</li>
       <li>Greenleaf</li>
       <li>Las nadadoras</li>
       <li>La guardia del león</li>
       <li>Belle</li>
       <li>La calle del terror - Parte 2: 1978</li>
       <li>Beau tiene miedo</li>
       <li>Calle dálmatas 101</li>
       <li>Safety</li>
       <li>Un fantasma anda suelto por casa</li>
       <li>La escuela de la vida</li>

    </body>
</html>